<div id="taskModal">
  <p style="margin: 10px;">タスク作成</p>
  <%= form_with model: task, url: tasks_path , method: :post do |f| %>
    <%= f.text_field :title, placeholder: "タスク名を記入", class: "name", required: true %>
    <%= f.text_area :body, placeholder: "タスク詳細を記入", class: "name" %>
    <div>
      開始日<br>
      <%= f.date_field :start_date,class: "name", min: Date.current %>
    </div>
    <div>
      終了日<br>
      <%= f.date_field :end_date,class: "name", min: Date.current %>
    </div>
    <%= f.submit "作成", class: "submit" %>
  <%end%>
  <button id="taskModalClose" >とじる</button>
</div>