<%= form_with model:@task, local:true do |f| %>
<div class="taskTitleEdit">
  <div style="padding-top: 20px;">タイトル</div>
  <%= f.text_field :title, class: "name" %><br>
  <%= f.text_area :body, class: "name" %><br>
  <div>
    開始日<br>
    <%= f.date_field :start_date,class: "name", min: Date.current %>
  </div>
  <div>
    終了日<br>
    <%= f.date_field :end_date,class: "name", min: Date.current %>
  </div>
  
  <%= f.submit "編集を保存", class: "submit", style: "margin-bottom: 30px;" %><br>
  <%= link_to "編集を破棄", tasks_path, class: "submit" %>
</div>
  <!--後に内容や日付変更など追加検討-->
<%end%>