<div id="container">
  <div id="black"></div>
  <div id="taskModal">
    <p>タスク作成</p>
    <%= form_with model: @task, url: tasks_path , method: :post do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "タスク作成" %>
    <%end%>
  </div>
  
  <div id="breakTime"></div>
  
  <% if user_signed_in? %>
    <button id="taskCreation">タスク作成</button>
    <span>ゲストログイン用タイマー</span>
  <%end%>
  
  <!--ToDoリスト一覧-->
  <% if user_signed_in? %>
    <% @tasks.each.with_index(1) do |tasks, index| %>
      <div class="taskList">
        <div><%= tasks.title %></div>
        <div class="btnRightBottom">
          <span class="btnBlue"><%= link_to "編集", edit_task_path(tasks.id) %></span>
          <span class="btnGreen"></span>
          <div class="timerStart<%= index %>"><!--<%= link_to "開始", task_path(tasks.id) %>--></div>
        </div>
      </div>
    <%end%>
  <%else%>
    <div>アカウントを作成されていないのでToDoリストはご利用できません。</div>
  <%end%>
  
  <!--タイマー用モーダル-->
  <div id="timerModal">
    <div id="taskTitle"></div>
    <div>タイマー表示</div>
    <span>スタート</span>
    <span>開始</span>
    <span>停止</span>
    <button>とじる</button>
  </div>
  
</div>

<!--kaminari導入テスト-->
<%= paginate @tasks %>
<!--一番下じゃないとエラーになる-->
<%= javascript_pack_tag 'task/index'%>