<div id="container">
  <div id="black"></div>
  <div id="taskModal">
    <p>タスク作成</p>
    <%= form_with model: @task, url: tasks_path , method: :post do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "タスク作成" %>
    <%end%>
  </div>
  
  <div id="breakTime"></div>
  
  <% if user_signed_in? %>
    <button id="taskCreation">タスク作成</button>
  <%end%>
  
  <!--ToDoリスト一覧-->
  <% if user_signed_in? %>
    <% @tasks.each do |tasks| %>
      <div class="taskList">
        
        <div class="taskTitle"><%= tasks.title %></div>
        
        <div class="btnRightBottom">
          <span class="deleteButton"><%= link_to "削除", task_path(tasks.id), method: :delete %></span>
          
          <span class="btnBlue"><%= link_to "編集", edit_task_path(tasks.id) %></span>
          
          <span class="btnGreen"><%= link_to "詳細", task_path(tasks.id) %></span>
          <div class="timerStart">開始</div>
        </div>
      </div>
    <%end%>
  <%else%>
    <div>アカウントを作成されていないのでToDoリストはご利用できません。</div>
    <div>ポモドーロタイマーのみご使用できます。</div>
    
    <div id="guestTimerModal">
      <div id="guestTimer">
        <div id="guestMin">aaaa</div>
        <div id="guestSec">aaaa</div>
        <button id="guestStart">開始</button>
        <button id="guestStop">停止</button>
      </div>
    </div>
  <%end%>
  
  
  <!--タイマー用モーダル-->
  <div id="timerModal">
    <div>作業中のタスク</div>
    <div id="taskTitleShow"></div>
    
    <div id="timer">
      <div id="min"></div>
      <div id="sec"></div>
    </div>
    
    <div id="start">再開</div>
    <div id="stop">停止</div>
    <button id="timerModalClose">とじる</button>
  </div>
  
</div>


<!--後に使うかも-->
<!--<%= render "tasks/show", show: @task %>-->

<!--一番下じゃないとエラーになる-->
<%= javascript_pack_tag 'task/guestIndex'%>
<%= javascript_pack_tag 'task/index'%>