<!-- 再生プレイヤー -->
<%= audio_tag "jihou1.mp3", controls: true, id: "playAudio" %>

<div id="container">
  
  <!--モーダル出現時の背景-->
  <div id="black"></div>
  
  <!--タスク作成時のモーダル-->
  <%= render 'tasks/taskModal', task: @task %>
  
  <!---ユーザーログイン中かで処理変更-->
  <%= render 'tasks/taskCreation', user: @user %>

  <!--ToDoリスト一覧-->
  <% if user_signed_in? %>
    <div class="entireList">
      <div style="margin: 10px;">ToDoリスト</div>
      <% @tasks.each do |tasks| %>
        <div class="taskList">
          
          <!--タスク完了チェック-->
          <%= render 'tasks/check', tasks: tasks %>
          
          <% if tasks.start_date.present? %>
            <div class="startDay"><%= tasks.start_date.strftime("%Y年%m月%d日") %> 開始日</div>
            <div class="endDay"><%= tasks.end_date.strftime("%Y年%m月%d日") %> 終了日</div>
          <%else%>
          <%end%>
          <div class="taskTitle">< タスク名 ><br><%= tasks.title %></div>
          <div class="taskBody">< 詳細 ><br><%= tasks.body %></div>
          <!--時間記録時にID取得に必須-->
          <div class="taskId"><%= tasks.id %></div>
          <%= link_to task_path(tasks.id), data: {confirm: "削除しますか？"}, method: :delete do %><i class="deleteButton fa-solid fa-trash-arrow-up" style="color: black;" title="タスクを削除する"></i><%end%>
          <div class="btnRightBottom">
            <%= link_to edit_task_path(tasks.id) do %><i class="editButton fa-regular fa-pen-to-square" style="color: black;" title="タスクを編集する"></i><%end%>
            <i class="timerStart fa-solid fa-play" style="color: black;" title="タイマーを開始する"></i>
          </div>
        </div>
      <%end%>
    </div>
  <%else%>
  
    <!--ゲスト用タイマー-->
    <%= render 'tasks/guestTimer' %>
  <%end%>
  
  <!--タイマー用モーダル-->
  <div id="timerModal">
    <%= render 'tasks/timerModal', usage_time: @usage_time %>
  </div>
</div>



<!--kaminari導入-->
<% if @tasks.nil? %>
  
<%else%>
  <%= paginate @tasks %>
<%end%>


<%= javascript_pack_tag 'task/guestIndex'%>
<%= javascript_pack_tag 'task/index'%>