<div class="myPageBack">
  <div class="myPageChart">
    <!--統計グラフ-->
    <div style="margin: 5px 0;"><%= current_user.name %>さんの</div>
    <div style="margin: 5px 0;">1週間の作業時間</div>
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['6日前', '５日前', '４日前', '３日前', '２日前', '1日前', '今日'],
          datasets: [{
            tension: 0.3,
            label: '1週間の作業時間',
            data: [<%= current_user.total_all(7) %>,<%= current_user.total_all(6) %>,<%= current_user.total_all(5) %>,<%= current_user.total_all(4) %>,<%= current_user.total_all(3) %>,<%= current_user.total_all(2) %>,<%= current_user.total_all(1) %>],
            
            //barの色、太さ、線の色
            backgroundColor: [ '#B0E0E6' ],
            borderColor: ['#B0E0E6'],
            borderWidth: 3
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              suggestedMin: 1,
              suggestedMax: 12,
              ticks: {
                // Include a dollar sign in the ticks
                callback: function(value, index, ticks) {
                  return value + "h";
                }
              }
            }
          }
        }
      });
    </script>
    <!--統計グラフ-->
  </div>
</div>
