<h1>マイページ</h1>

<div>
  <% @usage_time.each do |tasks| %>
    <% if current_user.id == tasks.user_id %>
      <%= tasks.elapsed_time %>
    <%end%>
  <%end%>
</div>

<div class="test"><%= @today_time.pluck(:elapsed_time).join(" ") %></div>
<div class="test"><%= @yesterday_times.pluck(:elapsed_time).join(" ") %></div>
<div class="test"><%= @two_days_ago_times.pluck(:elapsed_time).join(" ") %></div>
<div class="test"><%= @three_days_ago_times.pluck(:elapsed_time).join(" ") %></div>
<div class="test"><%= @four_days_ago_times.pluck(:elapsed_time).join(" ") %></div>
<div class="test"><%= @five_days_ago_times.pluck(:elapsed_time).join(" ") %></div>
<div class="test"><%= @six_days_ago_times.pluck(:elapsed_time).join(" ") %></div>

<div class="myPageBack">
  <div class="myPageChart">
    <!--統計グラフ-->
    <div class="text-center">７日間の作業比率</div>
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const day = document.getElementsByClassName("test")[0].innerHTML
      const day1 = document.getElementsByClassName("test")[1].innerHTML
      const day2 = document.getElementsByClassName("test")[2].innerHTML
      const day3 = document.getElementsByClassName("test")[3].innerHTML
      const day4 = document.getElementsByClassName("test")[4].innerHTML
      const day5 = document.getElementsByClassName("test")[5].innerHTML
      const day6 = document.getElementsByClassName("test")[6].innerHTML
      
    
    
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['6日前', '５日前', '４日前', '３日前', '２日前', '1日前', '今日'],
          datasets: [{
            tension: 0.3,
            label: '1週間の時間',
            data: [day6,day5,day4,day3,day2,day1,day],
            
            //barの色、太さ、線の色
            backgroundColor: [ '#B0E0E6' ],
            borderColor: ['#B0E0E6'],
            borderWidth: 3
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              suggestedMin: 1,
              suggestedMax: 12,
              ticks: {
                // Include a dollar sign in the ticks
                callback: function(value, index, ticks) {
                  return value + "h";
                }
              }
            }
          }
        }
      });
    </script>
    <!--統計グラフ-->
  </div>
</div>
