<!DOCTYPE html>
<html>
  <head>
    <title>StudySupport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to tasks_path do %>ToDoリスト<%end%></li>
          <li><%= link_to homes_my_page_path(@user) do %>マイページ<%end%></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>ログアウト<%end%></li>
        <%else%>
          <li><%= link_to user_session_path do %>ログイン<%end%></li>
          <li><%= link_to new_user_registration_path do %>アカウント作成<%end%></li>
        <%end%>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
